.jumbotron {
    background-image: url(../assets/boardgamebackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
    color: white;
}

.jumbo-container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: initial;
}


.jumbo-header {
    font-family: 'Architects Daughter', cursive;
font-family: 'Sedgwick Ave', cursive;
text-transform: capitalize;
font-size: 6rem;
text-align: center;

}
.jumbo-para {
    padding-top: 5rem;
    font-size: 2rem;
}